tests/__pycache__/test_apple.cpython-312.pyc
.vscode/settings.json
tests/__pycache__/test_snake.cpython-312.pyc
.coverage
tests/__pycache__/test_q_learning.cpython-312.pyc
tests/__pycache__/color.cpython-312.pyc
